<template>
  <v-card class="comments" tile flat>
    <v-toolbar class="" dense>
      <v-spacer />
      <span>Nombre de commentaires: <b>{{ count }}</b></span>
    </v-toolbar>

    <v-card-text class="comments-windows pa-0">
      <v-row class="comments-row pa-10 ma-0">
        <v-col 
          cols="12"
          md="6"
          v-for="(comment, i) in comments" :key="`comment-${ i }`"
          class="ma-0 pa-5"
        >        
          <v-card
            outlined
            tile
            class="comment-window"
          >
            <v-toolbar dense flat>
              <v-spacer />

              <v-btn icon small @click="edit( comment )" class="ml-2">
                <v-icon>mdi-pencil</v-icon>
              </v-btn>

              <v-btn icon small @click="del( comment )" class="ml-2">
                <v-icon>mdi-delete</v-icon>
              </v-btn>
            </v-toolbar>

            <v-card-text class="pt-0">
              <div class="d-flex align-center">
                <v-avatar color="secondary">
                  <v-icon dark large>
                    mdi-account-circle
                  </v-icon>
                </v-avatar>

                <v-list>
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-subtitle v-html="comment.author"></v-list-item-subtitle>
                      <v-list-item-title v-html="comment.content"></v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </div>

              <div class="d-flex justify-end">
                <small>{{ toReadable( comment.creationDate ) }}</small>
              </div>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>  

      <v-card
        tile
        flat
        class="mx-0 px-10 mt-10"
      >
        <v-card-text class="py-0">
          <v-text-field
            outlined
            v-model="form.author"
            name="name"
            label="Nom"
            prepend-icon="mdi-account-circle"
          />
          
          <v-textarea
            v-model="form.content"
            outlined
            name="comment"
            label="Commentaire"
            prepend-icon="mdi-comment"
          />
        </v-card-text>

        <v-card-actions class="justify-end py-0">
            <v-btn
              type="submit"
              color="primary"
              @click="submit"
              rows="2"
            >
              Ajouter
            </v-btn>
        </v-card-actions>
      </v-card>     

    </v-card-text>
  </v-card>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import _ from 'lodash'

export default {
  name: "Comments",
  data() {
    return {
      form: {
        author: null,
        content: null,
      },
      originalPost: null,
      commentActions: [
        { name: 'edit', icon: 'pencil', action: 'edit' },
        { name: 'del', icon: 'delete', action: 'del' }
      ],
    }
  },
  computed: {
    ...mapState({
      comments: state => state.comments.comments
    }),
    ...mapGetters({
      count: 'comments/count'
    })
  },
  methods: {
    submit() {
      if( !this.originalPost ) {
        this.$store.dispatch( 'comments/add', { ...this.form, creationDate: new Date().toISOString() } )
      }
      else {
        this.$store.dispatch( 'comments/update', { 
          updatedPost: { ...this.form, creationDate: new Date().toISOString() },
          originalPost: this.originalPost
        })
      }
      this.resetForm()
    },
    del( comment ) {
      this.$store.dispatch( 'comments/del', comment )
    },
    edit( comment ) {
      this.originalPost = comment
      this.form = _.omit( comment, 'creationDate' )
    },
    resetForm() {
      this.form = {
        author: null,
        content: null,
      }
    }, 
    toReadable( date ) {
      const options = { year: "numeric", month: "long", day: "numeric" }
      return new Date( date ).toLocaleDateString(undefined, options)
    }
  },
  created() {
    this.resetForm()
    this.$store.dispatch('comments/init')
  },
};
</script>

<style scoped>
.comments-windows,
.comments-windows > * {
  max-height: 50vh;
}

.comments-row {
  overflow-y: auto;
}
</style>
